body {
    font-family: 'Fredoka', sans-serif;
}

.about {
    font-size: 18px;
    font-weight: 300;
    color: pink;
    margin-bottom: 24px;
}

.avatar {
    /* width: 210px;
    height: 210px; */
    width: 200px;
    height: 200px;
    /* margin-bottom: 40px; */
    margin-bottom: 36px;
    border-radius: 50%;
    /* object-fit: cover; */
    box-shadow: 15px 15px 0 yellow;
}

.button {
    background-color: yellow;
    color: black;
    padding: 12px 24px;
    text-decoration: none;
}

.contact {
    /* margin-bottom: 48px; */
    margin-bottom: 42px;
}

.contact-item {
    margin-bottom: 4px;
}

.contact-icon {
    margin-right: 12px;
    width: 16px;
}

.container {
    background-color: hotpink;
    background-image: linear-gradient(to right, rgba(255, 105, 180, 1), rgba(255, 105, 180, 0.7)), url(https://images.unsplash.com/photo-1564190648896-9ee1887da423?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: bottom right; */
    background-position: top right;
    min-height: 100vh;
    /* padding: 128px; */
    padding: 52px 128px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 48px;
    }
}

.content {
    max-width: 500px;
}

.job {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.name {
    /* font-size: 48px; */
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
    .name {
        font-size: 36px;
    }
}

.title {
    font-size: 96px;
    font-weight: 600;
    text-align: center;
}